*~
.DS_Store
/log
/tmp
/solr
/config/database.yml
*.swp
*.swo
public/system*
public/course*
public/catalog_images/*
public/template/
public/assets/*
bin/local*
config/deploy.rb
Capfile
server_environments
vendor/bundler/
vendor/bundle/
.bundle
.ruby-version

solr/development
solr/test
solr/pids
solr/data
solr/default

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/settings/production.yml
.powenv

spec/dummy/tmp
spec/dummy/log/*
spec/dummy/db/test.sqlite3
spec/support/*

.idea
