= render '/skirt/login_ready_js'
= render '/skirt/skirt_js'

javascript:

  var skirt = new Skirt("#{Skirt::Config.seller_id}");

  window.addEventListener('load', function (){
    skirt.showPayWithAmazonButton(#{popup});
  });

  document.getElementById('Logout').onclick = function() {
    amazon.Login.logout();
    document.cookie = "amazon_Login_accessToken=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/";
    window.location.href = '/';
  };

- if Rails.env.production?
  = javascript_include_tag "https://static-fe.payments-amazon.com/OffAmazonPayments/jp/lpa/js/Widgets.js"
- else
  = javascript_include_tag "https://static-fe.payments-amazon.com/OffAmazonPayments/jp/sandbox/lpa/js/Widgets.js"
