#AmazonPayButton
  button type="button" name="button" id="Logout"
    | Logout

= render '/skirt/login_ready_js'

javascript:

  window.addEventListener('load', function (){
    var seller_id = "#{Skirt::Config.seller_id}";
    OffAmazonPayments.Button("AmazonPayButton", seller_id, {
      type:  "PwA",
      color: "Gold",
      size:  "medium",

      authorization: function() {

        loginOptions = {scope: "profile payments:widget payments:shipping_address", 
                        popup: #{popup},
                        };
        var redirectUrl = '#{ Skirt::Config.after_login_path }';
        amazon.Login.authorize (loginOptions, redirectUrl,
          function(response) {
            addressConsentToken = response.access_token;
          });
      },
      onSignIn: function (orderReference) {
      },
    });
  });


  document.getElementById('Logout').onclick = function() {
    amazon.Login.logout();
    document.cookie = "amazon_Login_accessToken=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/";
    window.location.href = '/';
  };

= javascript_include_tag "https://static-fe.payments-amazon.com/OffAmazonPayments/jp/sandbox/lpa/js/Widgets.js"
