javascript:

  Skirt = function(sellerId){
    this.sellerId = sellerId
    this.amazonOrderReferenceJson = null;
    this.addressShown = false;
    this.walletShown = false;
  };

  Skirt.prototype.showPayWithAmazonButton = function(popup) {
    var seller_id = "#{Skirt::Config.seller_id}";
    OffAmazonPayments.Button("AmazonPayButton", seller_id, {
      type:  "PwA",
      color: "Gold",
      size:  "medium",

      authorization: function() {

        loginOptions = { scope: "profile payments:widget payments:shipping_address", 
                         popup: popup };
        var redirectUrl = '#{ Skirt::Config.after_login_path }';
        amazon.Login.authorize(loginOptions, redirectUrl, function(response){
          addressConsentToken = response.access_token;
        });
      },
      onSignIn: function (orderReference) {
      },
    });
  };

  Skirt.prototype.getOrderReference = function() {
    var access_token = document.getElementById("access_token").value;

    var self = this;
    $.ajax({
      type: "GET",
      data: "orderReferenceId=" + orderReferenceId + "&access_token=" + access_token,
      url: "/amazon_order_reference",
      success: function(html){
        self.amazonOrderReferenceJson = JSON.parse(html);
        if (typeof gotOrderReference == 'function') {
          gotOrderReference(self.amazonOrderReferenceJson);
        }
      }
    });
  };

  Skirt.prototype.showWallet = function() {
    var self = this;
    // Wallet
    new OffAmazonPayments.Widgets.Wallet({
      sellerId: self.sellerId,
      onPaymentSelect: function() {
        self.walletShown = true;
        self.showOrderButton(); 
      },
      design: {
        designMode: 'responsive'
      },
      onError: function(error) {

        // @see https://payments.amazon.com/documentation/lpwa/201954960
        var errorCode = error.getErrorCode();
        var errorMessage = error.getErrorMessage();

        //alert(errorMessage);

      }
    }).bind("walletWidgetDiv");
  };

  Skirt.prototype.showAddressBook = function() {
    var self = this;
    //AddressBook
    new OffAmazonPayments.Widgets.AddressBook({
      sellerId: self.sellerId,
      onOrderReferenceCreate: function (orderReference) {

        var orderReference = orderReference;
        orderReferenceId = orderReference.getAmazonOrderReferenceId();

        var el;
        if ((el = document.getElementById("orderReferenceId"))) {
          el.value = orderReferenceId;
        }

        self.showWallet();

        self.getOrderReference();

      },
      onAddressSelect: function (orderReference) {
        self.addressShown = true;
        self.showOrderButton(); 
      },
      design: {
          designMode: 'responsive'
      },
      onError: function (error) {

        // @see https://payments.amazon.com/documentation/lpwa/201954960
        var errorCode = error.getErrorCode();
        var errorMessage = error.getErrorMessage();

        if (errorCode == 'BuyerSessionExpired') {
          if (typeof gotErrorBuyerSessionExpired == 'function') {
            gotErrorBuyerSessionExpired();
          }
        }

      }
    }).bind("addressBookWidgetDiv");
  };

  Skirt.prototype.showOrderButton = function() {
    var self = this;
    if(self.addressShown && self.walletShown){
      $('#amazonOrderButton').show();
    }
  };
