<!DOCTYPE html>
<html>
<head>
  <title>Skirt</title>
  <%= stylesheet_link_tag    "skirt/application", media: "all" %>
  <%= javascript_include_tag "skirt/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
